<div class="signup">
    <form id="signup" role="form" class="form-signin">
        <img class="logo" src="static/img/myfriends.png" width="400px">

        <h1 class="form-signin-heading text-muted">Anmäl dig här och få information när vi öppnar portarna!</h1>

        <div class="form-group">
            <label for="nickname">Nickname</label>
            <input class="form-control" id="nickname" data-parsley-length="[3, 200]" data-parsley-trigger="change" value="{{nickname}}" required>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input class="form-control" id="email" type="email" data-parsley-length="[5, 200]" data-parsley-trigger="change" value="{{email}}" required/>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control" id="password" type="password" data-parsley-minlength="8" data-parsley-trigger="change" value="{{password}}" required/>
        </div>
        <div class="alert alert-warning hidden" id="nickname-error" role="alert">Nickname {{nickname}} is already taken...</div>
        <button type="submit" class="btn btn-lg btn-primary">Sign up today</button>
    </form>
</div>
