<div class="signup">
    <img class="logo" src="static/img/myfriends.png" width="400px">
    <h1 class="form-signin-heading text-muted">Anmäl dig här och få information när vi öppnar portarna!</h1>

    <form id="signup" role="form" class="form-signin form-horizontal">
        <div class="form-group">
            <label for="nickname" class="col-sm-2 control-label">Nickname</label>
            <div class="col-sm-10">
                <input class="form-control" id="nickname" data-parsley-length="[3, 200]" data-parsley-trigger="change" value="{{nickname}}" required>
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-sm-2 control-label">E-Mail</label>
            <div class="col-sm-10">
                <input class="form-control" id="email" type="email" data-parsley-length="[5, 200]" data-parsley-trigger="change" value="{{email}}" required/>
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
                <input class="form-control" id="password" type="password" data-parsley-minlength="8" data-parsley-trigger="change" value="{{password}}" required/>
            </div>
        </div>
        <div class="alert alert-warning hidden" id="nickname-error" role="alert"><i class="fa fa-warning"></i> Nickname {{nickname}} is already taken...</div>
        <div class="form-group">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-lg btn-primary btn-block">Sign up today</button>
            </div>
        </div>
    </form>
</div>
